<!-- Updated File -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microservices Logical Coupling Visualization Tool</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
    <link href="./assets/style.css" rel="stylesheet">
</head>
<body>
<style>
    .noUi-connect {
        background: darkred; !important;
    }

    .noUi-pips {
        color: #2c2c2c; !important;
    }

    .toggle-container{
        display: none; !important;
        visibility: hidden; !important;
    }

    .file-dropdown{
        display: none; !important;
        visibility: hidden; !important;
    }
</style>
<div id="common-content"></div>
<script>
    // Dynamically load the common content
    // fetch('common.html')
    //     .then(response => response.text())
    //     .then(data => {
    //         document.getElementById('common-content').innerHTML = data;
    //     });
</script>
</body>
</html>
